<div id="menu">
  <a href="/">首页</a>
  <% if (locals.user) { %>
      <a href="/post">发布</a>
      <a href="/logout">退出</a>
      <span><%=user.name %></span>
  <% } else { %>
      <a href="/login">登录</a>
      <a href="/register">注册</a>
  <% } %>
</div>